.body{
    background-color: rgb(72, 101, 155);
}
.box1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.inp{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}
.but{
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    width: 50px;
    height: 30px;
    margin-left: 10px;
}
.table{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
td{
    border: 2px black solid;
}